<footer class="footer bg-black text-white">
  <div class="container">
    <div>
      <%= mail_to "#", "Contact Us" do %>
        <i class="fa-regular fa-envelope text-white"></i>
      <% end %>
      <a class="fa-brands fa-facebook text-white" href="http://www.facebook.com"> </a>
      <a class="fa-brands fa-twitter text-white" href="http://www.twitter.com"> </a>
    </div>
    <span class="text-color-white">© <%= Time.now.year %> All emotional rights reserved.</span>
  </div>
</footer>
