.card-show {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px 8px;
  overflow: hidden;
}

.card-info {
  padding: 20px;
}

.card-booking {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px 8px;
  padding: 20px;
}

